#--------------------------------------------------------------------------------------------------------------
# Local build files
#-----------------------------------------------------------------------------------------------------------
docker/tmp/

#--------------------------------------------------------------------------------------------------------------
# Java
#--------------------------------------------------------------------------------------------------------------

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
#--------------------------------------------------------------------------------------------------------------
# Mac
#--------------------------------------------------------------------------------------------------------------
.DS_Store
 
#--------------------------------------------------------------------------------------------------------------
# Maven
#--------------------------------------------------------------------------------------------------------------
log/
target/
